{% extends "app/layout.html" %}

{% block content %}

<title>About ROPRA</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/app/content/about.css' %}" />

<!--<head>
    <meta charset="utf-8" />
    <title>About ROPRA</title>
</head>-->

<div class="jumbotron">
    <h2>About ROPRA</h2>
    <h3>We Are Excited To Help You Grow Your Business Using Our Digital Services</h3>
</div>

<div class="container body-content">
    <div class="article">
        <h3>The ROPRA Difference</h3>
        <p>
            At ROPRA we are passionate for our client’s success, which is why we offer them the digital they need at the time and stay in contact with to update their digital infrastructure as their business grow. A key concept of our client relationship is to keep the client updated with the project progress to ensure that expectations are being exceeded. Our multicultural team has experience in the construction, telecommunications, semiconductor, restaurant, and manufacturing industries, which gives the ROPRA team a better understanding of what services businesses need.   
        </p>
    </div>

    <div class="article">
        <h3>Our Mission & Vision Is to Help Your Business Grow</h3>
        <p>
            Founded with the mission to create web products for the growing small business in Central Texas. We are in the business of growing businesses by ensuring they have a digital footprint throughout the web. The vision for ROPRA is to create digital products in a short time span so that clients can promote their products and services ASAP to reach their markets. As more businesses enter the marketplace, we ensure that our clients can stay competitive by having the proper digital marketing infrastructure.
        </p>
    </div>

    <div class="article">
        <h3>Digitalizing Non-Digital Business</h3>
        <p>
            Our clients range from the concrete contractors to the housekeeping companies to multistate logistics providers. ROPRA works with businesses of all sizes that are looking to expand their digital presence and that are looking to take advantage of different software platforms to perform their business functions. We provide consulting services where we identify the pain points of the client and develop the products, they need to conduct business.
        </p>
    </div>
</div>

{% endblock %}
